.package-hero{
  width: 100%;
  height: 650px;
  /* background-color: aquamarine; */
  margin-bottom: 20px;
  position: relative;
  
}

.packagehero-img{
  width: 90%;
  height: 500px;
  margin-top: 50px;
  border-radius: 30px;
  filter: brightness(80%);
}

.packagetext-overlay{
  width: 50%;
  height: auto;
  /* background-color: azure; */
  position: absolute;
}

.packagetext-overlay h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 100px;
}

.packagetext-overlay p{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 100px;
}

.packagesearch-div{
  position: relative;
  width: 90%;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.packagesearch-div input{
  border: none;
  outline: none;
  border-radius: 60px;
  width: 80%;
  padding: 10px 40px 10px 15px;
  
}

.packagesearch-icon{
  position: absolute;
  cursor: pointer;
  right: 125px;
  top: 35%;
}

.packagesearch-div input::placeholder{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #A19D9D;
}

.packagesearch-btn{
  /* padding: 10px 20px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  margin-left: 25px;
  margin-bottom: 7px;
  
}

.packageflex-section{
    width: 100%;
}

.packageflex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 90%;
    height: 70px;
    /* background-color: bisque; */
    margin-bottom: 30px;
}

.packageflex-item{
    width: 120px;
    height: 50px;
    background-color: #D9F8F7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.packageflex-item p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #A19D9D;
}

.packagebeach-item{
    width: 120px;
    height: 50px;
    background-color: #00CEC8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.packagebeach-item p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.offer-container{
    display: flex; 
     align-self: center;
   margin-bottom: 30px;
margin-left: 50px;
    width: 90%;
    height: 250px;
    /* background-color: blanchedalmond; */
    align-items: center;
    justify-content: space-between; 
}

.offer-imgdiv{
    width: 35%;
    height: 250px;
}

.offer-img{
    width: 35%;
    height: 250px;
    border-radius: 30px;
}

.offertext-content{
    width: 55%;
    /* background-color: azure; */
    height: 250px;
    margin-right: 50px;
}

.offertext-content h3{
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #00CEC8;
}

.offertext-content p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin-top: 5px;
}

.flex-rating{
    display: flex;
    gap: 40px;  
    margin-top: 10px;
    margin-bottom: 20px;
}

.flex-rating p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.flex-rating span{
    color: #6B7280;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.bottomtext-icon{
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.bottomtext-item p{
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.bottomtext-container{
    display: flex;
    gap: 20px;
}
