section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.our-destinations{
    width:90%;
    height: auto;
    /* background-color:brown; */
    

}

.title{
    text-align: center;
    font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
  margin-top: 30px;
  position: relative;
}

/* .title::after{
    content: "";
    height: 5px;
    background-color: #00CEC8;
    width: 200px;
    position: absolute;
    left: 42.5%;
    bottom: -4px;
    border-radius: 10px;
} */

.destination-container{
    display: grid;
    /* background-color: bisque; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    /* width: 100%; */
    height: auto;
    margin-top: 30px;
  
}

@media (max-width:1250px){
.destination-container{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.destination-items:last-child{
  grid-column: 3;
}
}

@media (max-width: 900px){
  .destination-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .destination-items:last-child{
    grid-column: auto;
  }
}


.destination-items{
    /* background-color: #00CEC8; */
    width: 268px;
    height: 300px;    
}

.destination-items img{
    width: 250px;
    height: 300px;
    /* position: absolute; */
    object-fit: cover;
    border-radius: 13px;
}

.text{
    position: relative;
    bottom: -70%;
    left: 5%;
}

.text h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #FFFFFF
}

.text p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF
}

.packages{
    filter:brightness(50%);
}

.view-package{
  border-radius: 30px;
  border: #00CEC8;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #00CEC8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 40px;

}

.view-package:hover {
  background: #5abfbc;
  text-decoration: none;
}