/*CSS RESET START/*

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/*CSS RESET END*/

.search-sctn{
   width: 100%;
   padding-top: 200px;
   padding-bottom: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-div{
    position: relative;
    width: 500px;
  }
  
  .search-div input{
    border: 1px solid #000000;
    border-radius: 60px;
    width: 100%;
    padding: 10px 40px 10px 15px;
    outline: none;
  }
  
  .search-icon{
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 35%;
    pointer-events: none;
  }
  
  .search-div input::placeholder{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #A19D9D;
  }

  .searchinput-btn{
    /* padding: 10px 20px; */
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
  }